:root {
  --primary-color: #a5bb7d;
  --secondary-color: #5b6153;
  --grand-color: #faffee;
  --indent-color: #ffffff;

  --main-font: 'Gagalin', serif;
  --second-font: 'Manrope', sans-serif;
}

@font-face {
  font-family: 'Gagalin';
  src: url('/fonts/Gagalin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--second-font);
  font-weight: 400;
  color: var(--secondary-color);
  min-height: 100vh;
  background-color: var(--grand-color);
}

button {
  opacity: 1;
  transition: opacity 0.3s ease;
}

button:active {
  opacity: 0.8;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    opacity: 0.8;
  }
}
