.offers {
  padding-top: 50px;
}

.offers__container {
  position: relative;
}

.offers__marker {
  margin-bottom: 20px;
  max-width: 90px;
}

.offers__title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 105%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 18px;
}

.offers__title-part-1 {
  display: block;
  margin-left: 48px;
  max-width: 134px;
}

.offers__title-part-2 {
  display: block;
  color: var(--primary-color);
}

.offers__subtitle {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 3px;
  max-width: 218px;
}

.offers__item-image__wrapper {
  position: relative;
}

.offers__item-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--primary-color);
  max-width: 81px;

  position: absolute;
  top: 0;
  left: 0;
}

.offers__item-icon {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.offers__item-image {
  margin-bottom: 18px;
}

.offers__item-description {
  font-size: 15px;
  line-height: 115%;
  letter-spacing: -0.02em;
  text-align: justify;
}

.offers__item-link {
  text-align: end;
}

.offers__item-link-anchor {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.offers__item-link-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 77%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  color: var(--primary-color);
}

.offers__item-link-icon {
  width: 18px;
  height: 18px;
}

.offers__swiper {
  overflow: hidden;
  margin-bottom: 18px;
}

.offers__paw-1 {
  position: absolute;
  width: 41px;
  height: 42px;
  top: 10px;
  left: 50%;
  transform: rotate(-35deg);
}

.offers__paw-2 {
  position: absolute;
  width: 41px;
  height: 42px;
  top: 15px;
  left: 70%;
  transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  .offers {
    padding-top: 60px;
  }

  .offers__marker {
    margin-bottom: -50px;
  }

  .offers__title {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .offers__title-part-1 {
    margin-left: 158px;
    max-width: unset;
  }

  .offers__title-part-2 {
    display: inline-block;
    color: var(--primary-color);
  }

  .offers__title-part-4 {
    margin-left: 158px;
  }

  .offers__subtitle {
    font-size: 20px;
    margin-left: 158px;
    margin-bottom: 10px;
    max-width: 250px;
  }

  .offers__item-title {
    font-size: 20px;
    max-width: 150px;
    top: 40px;
    left: 0;
  }

  .offers__item-icon {
    position: absolute;
    bottom: unset;
    right: unset;
    left: 150px;
    top: 50px;
  }

  .offers__item-image {
    margin-bottom: 22px;
  }

  .offers__item-description {
    font-size: 15px;
    max-width: 378px;
    margin: 0 auto;
  }

  .offers__swiper {
    overflow: hidden;
    margin-bottom: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .offers {
    padding-top: 90px;
  }

  .offers__marker {
    margin-bottom: -50px;
  }

  .offers__title {
    font-size: 64px;
    margin-bottom: 30px;
  }

  .offers__title-part-1 {
    margin-left: 368px;
  }

  .offers__title-part-2 {
    margin-left: 156px;
  }

  .offers__title-part-4 {
    margin-left: 368px;
  }

  .offers__subtitle {
    font-size: 28px;
    margin-left: 368px;
    margin-bottom: 0;
    max-width: 338px;
  }

  .offers__item-title {
    font-size: 28px;
    max-width: 234px;
    top: 70px;
    left: 0;
  }

  .offers__item-icon {
    position: absolute;
    bottom: unset;
    right: unset;
    left: 260px;
    top: 85px;
    width: 43px;
    height: 43px;
  }

  .offers__item-image {
    margin-bottom: 25px;
  }

  .offers__item-description {
    font-size: 18px;
    max-width: 380px;
  }

  .offers__item-link-anchor {
    gap: 12px;
    transition: opacity 0.3s ease;
  }

  .offers__item-link-anchor:hover {
    opacity: 0.5;
  }

  .offers__item-link-text {
    font-size: 21px;
  }

  .offers__item-link-icon {
    width: 20px;
    height: 20px;
  }

  .offers__paw-1,
  .offers__paw-2 {
    width: 70px;
    height: 70px;
  }

  .offers__paw-1 {
    left: 80%;
  }
  .offers__paw-2 {
    left: 90%;
  }
}

@media only screen and (min-width: 1440px) {
  .offers__item-description {
    max-width: 460px;
  }

  .offers__title-part-1 {
    margin-left: 432px;
  }

  .offers__title-part-2 {
    margin-left: 156px;
  }

  .offers__title-part-4 {
    margin-left: 432px;
  }

  .offers__subtitle {
    margin-left: 432px;
  }
}
