.hero {
  overflow-x: hidden;
  position: relative;
  padding-top: 196px;
  height: 105vh;

  background-image: url('../../img/hero/bg-mobile.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero__title-wrapper {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.hero__link {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 16px;
}

.hero__link__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #f2f2f2;
  max-width: 120px;
  transition: color 0.3s ease;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 38px;
  line-height: 90%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--indent-color);

  text-shadow: 0 9px 20px rgba(0, 0, 0, 0.2), 0 37px 37px rgba(0, 0, 0, 0.15),
    0 82px 49px rgba(0, 0, 0, 0.12), 0 146px 59px rgba(0, 0, 0, 0.01),
    0 228px 64px rgba(0, 0, 0, 0), 1px 1px 0 #120e01;
  mix-blend-mode: overlay;
}

@media (hover: hover) and (pointer: fine) {
  .hero__link:hover .hero__link__text {
    color: #ffcc00;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 143px;
    background-image: url('../../img/hero/bg-tablet.webp');
  }

  .hero__title-wrapper {
    max-width: 600px;
  }

  .hero__link {
    margin-bottom: 34px;
    margin-left: 10px;
  }

  .hero__title {
    font-size: 80px;
    text-shadow: 0 22px 49px rgba(0, 0, 0, 0.2), 0 88px 88px rgba(0, 0, 0, 0.15),
      0 199px 119px rgba(0, 0, 0, 0.12), 0 353px 141px rgba(0, 0, 0, 0.01),
      0 552px 154px rgba(0, 0, 0, 0), 2px 1px 0 #120e01;
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    padding-top: 98px;
    background-image: url('../../img/hero/bg-desktop.webp');
  }

  .hero__title-wrapper {
    max-width: 930px;
  }

  .hero__link {
    margin-bottom: 10px;
    margin-left: 16px;
  }

  .hero__title {
    font-size: 122px;
    text-shadow: 0 33px 73px rgba(0, 0, 0, 0.2),
      0 133px 133px rgba(0, 0, 0, 0.15), 0 299px 179px rgba(0, 0, 0, 0.12),
      0 531px 213px rgba(0, 0, 0, 0.01), 0 829px 232px rgba(0, 0, 0, 0),
      3px 2px 0 #120e01;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    padding-top: 116px;
  }
}
