.more-about {
  position: relative;
  padding-top: 45px;
}

.more-about__container {
  position: relative;
}

.more-about__marker {
  margin-bottom: 20px;
}

.more-about__content {
  margin-bottom: 20px;
}

.more-about__text {
  font-family: var(--main-font);
  font-size: 26px;
  line-height: normal;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.more-about__text.more-about__text--position {
  margin-left: 47px;
}

.more-about__text.more-about__text--color {
  color: var(--primary-color);
}

.more-about__logo {
  width: 132px;
  text-align: center;
  margin: 0 auto;
}

.more-about__description {
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 20px;
}

.more-about__picture {
  display: block;
  margin-bottom: 20px;
}

.more-about__details-wrapper {
  margin-bottom: 20px;
}

.more-about__details {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.more-about__details-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--primary-color);
}

.more-about__details-text {
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 115%;
}

.more-about__details-highlight {
  font-weight: 600;
  color: var(--primary-color);
}

.more-about__details-highlight-2 {
  font-weight: 600;
}

.more-about__company {
  text-align: center;
}

.more-about__company-text {
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  max-width: 227px;
}

.more-about__company-btn {
  display: inline-flex;
  align-items: center;
  gap: 11px;
  background-color: transparent;
  border: none;
}

.more-about__company-btn-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color);
  text-decoration: underline;
}

.more-about__paw-1 {
  position: absolute;
  top: 20px;
  right: 10%;
  transform: rotate(-25deg);
}

.more-about__paw-2 {
  position: absolute;
  top: 70px;
  left: 20px;
}

.more-about__paw-3 {
  position: absolute;
  top: 58%;
  left: 8%;
}

.more-about__paw-4 {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: rotate(-25deg);
}

.more-about__paw-5 {
  position: absolute;
  top: 135px;
  right: 35px;
}

.more-about__paw-6 {
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 40px;
  transform: rotate(-30deg);
}

.more-about__clinic {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--secondary-color);
  padding: 20px 0;
  text-align: center;
}

.more-about__clinic-container {
  position: relative;
}

.more-about__clinic-logo {
  margin: 0 auto;
  margin-bottom: 20px;
}

.more-about__clinic-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 22px;
  line-height: 105%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--grand-color);
  max-width: 290px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.more-about__clinic-title__accent {
  color: var(--primary-color);
}

.more-about__clinic-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 147px;
  height: 147px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: rotate(-30deg);
  margin: 0 auto;
  margin-bottom: 20px;
}

.more-about__clinic-top-number {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--grand-color);
}

.more-about__clinic-top-text {
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--indent-color);
}

.more-about__clinic-description {
  font-size: 18px;
  line-height: 120%;
  color: var(--grand-color);
  max-width: 290px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.more-about__clinic-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50px;
  width: 254px;
  height: 44px;
  box-shadow: 0 5px 13px rgba(3, 30, 9, 0.1);
  background: var(--primary-color);
  margin-left: 20px;
}

.more-about__clinic-button-icon {
  margin-left: 2px;
  margin-right: 13px;
}

.more-about__clinic-button-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--indent-color);
}

.more-about__clinic-button-img {
  position: absolute;
  bottom: 0;
  right: 16px;
}

.more-about__clinic-paw-1 {
  position: absolute;
  top: 16px;
  left: 20px;
  width: 30px;
}

.more-about__clinic-paw-2 {
  position: absolute;
  top: 20px;
  right: 10%;
  width: 43px;
  transform: rotate(-20deg);
}

.more-about__clinic-paw-3 {
  position: absolute;
  top: 210px;
  left: 35px;
  width: 30px;
}

.more-about__clinic-image-2-desk {
  display: none;
}

.more-about__clinic-image-2-mob {
  position: absolute;
  left: calc(50% + 35px);
  top: 140px;
  width: 143px;
}

.more-about__clinic-image-1 {
  width: 124px;
  position: absolute;
  bottom: -50px;
  left: calc(50% - 210px);
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .more-about {
    padding-top: 50px;
  }

  .more-about__marker {
    margin-bottom: -50px;
  }

  .more-about__content {
    margin-bottom: 30px;
  }

  .more-about__text {
    font-family: var(--main-font);
    font-size: 48px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--secondary-color);
  }

  .more-about__text__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .more-about__text.more-about__text--position {
    margin-left: 47px;
  }

  .more-about__text.more-about__text--position-last {
    margin-left: 150px;
  }

  .more-about__logo {
    width: 213px;
    margin: 0;
  }

  .more-about__description {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 546px;
    margin-left: auto;
  }

  .more-about__picture {
    margin-bottom: 0;
  }

  .more-about__details-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .more-about__details {
    gap: 20px;
    margin-bottom: 0;
    max-width: 50%;
  }

  .more-about__details-title {
    font-size: 23px;
    max-width: 150px;
    margin-top: -66px;
  }

  .more-about__company {
    text-align: end;
  }

  .more-about__paw-1 {
    position: absolute;
    top: 20px;
    right: 10%;
    transform: rotate(-25deg);
  }

  .more-about__paw-2 {
    position: absolute;
    top: 70px;
    left: 20px;
  }

  .more-about__paw-3 {
    position: absolute;
    top: 58%;
    left: 8%;
  }

  .more-about__paw-4 {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: rotate(-25deg);
  }

  .more-about__paw-5 {
    position: absolute;
    top: 135px;
    right: 35px;
  }

  .more-about__paw-6 {
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 40px;
    transform: rotate(-30deg);
  }

  .more-about__clinic {
    border-radius: 30px;
    padding: 20px 0 60px 0;
  }

  .more-about__clinic-logo {
    margin: 0;
    margin-bottom: -45px;
    width: 87px;
  }

  .more-about__clinic-title {
    font-size: 48px;
    max-width: unset;
    margin: 0;
    margin-bottom: 30px;
    text-align: start;
  }

  .more-about__clinic-title-top,
  .more-about__clinic-title-bottom {
    margin-left: 158px;
  }

  .more-about__clinic-title__accent {
    display: block;
  }

  .more-about__clinic-top {
    position: absolute;
    top: 120px;
    right: calc(50% - 290px);
    gap: 5px;
    width: 163px;
    height: 163px;
    border-radius: 50%;
    margin: 0;
  }

  .more-about__clinic-top-number {
    font-size: 48px;
  }

  .more-about__clinic-top-text {
    font-size: 20px;
  }

  .more-about__clinic-description {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 320px;
    text-align: start;
    margin: 0;
    margin-left: 160px;
    margin-bottom: 30px;
  }

  .more-about__clinic-button {
    width: 313px;
    height: 44px;
    margin-left: 0;
  }

  .more-about__clinic-button-icon {
    margin-left: 36px;
    margin-right: 10px;
  }

  .more-about__clinic-button-text {
    font-size: 18px;
  }

  .more-about__clinic-button-img {
    position: absolute;
    bottom: 0;
    right: 21px;
  }

  .more-about__clinic-image-2-desk {
    display: block;
    position: absolute;
    left: calc(50% + 189px);
    bottom: -60px;
    width: 285px;
  }

  .more-about__clinic-image-2-mob {
    display: none;
  }

  .more-about__clinic-image-1 {
    width: 334px;
    position: absolute;
    bottom: -130px;
    left: calc(50% - 480px);
  }
}
