.product-line {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.product-line__container {
  position: relative;
}

.product-line__marker {
  margin-bottom: 20px;
}

.product-line__intro {
  position: relative;
}

.product-line__heading {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 105%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 0 auto 0 auto;
  max-width: 290px;
}

.product-line__heading-1 {
  display: block;
  margin-left: 45px;
}

.product-line__heading .product-line__heading-2 {
  display: inline-block;
  color: var(--primary-color);
  margin-left: 90px;
  position: relative;
}

.product-line__heading-2::after {
  content: '';
  display: inline-block;
  width: 28px;
  height: 18px;
  background-image: url('../../img/svg/dots.svg');
  background-size: cover;
  background-position: center;
  margin-left: 5px;
}

.product-line__heading-2::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: -38px;
  width: 30px;
  height: 27px;
  background-image: url('../../img/product-line/cats.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.product-line__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.product-card-1 {
  position: relative;
}

.product-card__image-1 {
  margin: 0 auto;
}

.product-card-1__info {
  position: absolute;
  bottom: 13px;
  left: 13px;
  padding: 5px;
  width: 120px;
  height: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 12px 12px rgba(0, 0, 0, 0.09),
    0 26px 16px rgba(0, 0, 0, 0.05), 0 47px 19px rgba(0, 0, 0, 0.01),
    0 74px 21px 0 rgba(0, 0, 0, 0), 3px 3px 0 0 rgba(38, 55, 32, 0.65),
    2px -1px 0 0 rgba(38, 55, 32, 0.25);
  background: #fff;
  border-radius: 13px;
}

.product-card-1__name {
  position: relative;
  max-width: 77px;
  max-height: 30px;
  overflow: hidden;
  font-size: 14px;
  line-height: 116%;
  letter-spacing: -0.02em;
  color: var(--secondary-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.product-card-1__prices-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-card__prices {
  display: flex;
  align-items: center;
  gap: 3px;
}

.product-card__price--current {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

.product-card__price--current-currency {
  font-family: var(--second-font);
  font-size: 14px;
}

.product-card__price--old {
  font-size: 13px;
  line-height: 105%;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  text-align: justify;
  color: #5b6153;
  opacity: 0.7;
  margin-top: 5px;
}

.product-card-1__actions {
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.product-card-1__icon-1 {
  width: 11px;
  height: 11px;
}

.product-card-1__icon-2 {
  width: 18px;
  height: 18px;
}

.product-card__button {
  background-color: transparent;
  border: none;
  line-height: 0;
}

.product-card-side-group {
  display: flex;
  gap: 10px;
}

.product-card-2,
.product-card-3 {
  flex: 1;
  padding: 4px 4px 8px 4px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(20, 27, 6, 0.13);
  background: #fff;
}

.product-card__image__wrapper {
  border-radius: 10px;
  margin-bottom: 12px;
  height: 112px;
  overflow: hidden;
}

.product-card__image-2,
.product-card__image-3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-card-2__name,
.product-card-3__name {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 105%;
  letter-spacing: -0.02em;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.product-card__description {
  position: relative;
  font-size: 13px;
  line-height: 115%;
  letter-spacing: -0.02em;
  height: 31px;
  overflow: hidden;
  margin-bottom: 7px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.product-card-2__actions,
.product-card-3__actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-card__icon-1 {
  padding: 3px;
  width: 18px;
  height: 18px;
}

.product-card__icon-2 {
  width: 19px;
  height: 19px;
}

.product-line__paw-1 {
  position: absolute;
  top: 40px;
  left: 20px;
  transform: rotate(-15deg);
}

.product-line__paw-2 {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: rotate(-45deg);
}

.product-line__paw-3 {
  position: absolute;
  top: 0;
  left: 200px;
  transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  .product-line {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .product-line__marker {
    margin-bottom: -40px;
  }

  .product-line__heading {
    font-size: 48px;
    margin: 0 auto 0 auto;
    max-width: unset;
  }

  .product-line__heading-1 {
    display: block;
    margin-left: 157px;
  }

  .product-line__heading .product-line__heading-2 {
    display: inline-block;
    margin-left: 0;
  }

  .product-line__heading-2::after {
    width: 50px;
    height: 33px;
    margin-left: 8px;
  }

  .product-line__heading-2::before {
    top: 10px;
    left: 620px;
    width: 47px;
    height: 33px;
  }

  .product-line__heading-4 {
    margin-left: 157px;
    display: block;
  }

  .product-line__heading-5 {
    display: block;
    margin-left: 157px;
  }

  .product-line__list {
    flex-direction: row-reverse;
    gap: 10px;
    margin-bottom: 45px;
    margin-top: -45px;
  }

  .product-card-1 {
    flex: 1 1 50%;
    align-self: flex-end;
  }

  .product-card-1__name {
    font-size: 14px;
  }

  .product-card-1__info {
    bottom: 15px;
    left: unset;
    right: 15px;
    padding: 5px 5px 5px 10px;
    width: 127px;
    height: 79px;
    border-radius: 16px;
  }

  .product-card-1__icon-1 {
    width: 12px;
    height: 12px;
  }

  .product-card-1__icon-2 {
    width: 19px;
    height: 19px;
  }

  .product-card-side-group {
    flex-direction: column;
    padding-top: 68px;
    gap: 10px;
    flex: 1 1 50%;
  }

  .product-card-2,
  .product-card-3 {
    display: flex;
    gap: 18px;
    padding: 0;
  }

  .product-card__image__wrapper {
    border-radius: 10px;
    margin-bottom: 0;
    height: auto;
    flex: 1 1 50%;
    overflow: hidden;
  }

  .product-card-2__info,
  .product-card-3__info {
    flex: 1 1 50%;
    padding: 10px 10px 10px 0;
  }

  .product-card-2__name,
  .product-card-3__name {
    font-size: 16px;
  }

  .product-card__description {
    font-size: 14px;
    margin-bottom: 10px;
    word-break: normal;
  }

  .product-card__prices {
    gap: 5px;
  }

  .product-card__price--old {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
  .product-line {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .product-line__marker {
    margin-bottom: -40px;
  }

  .product-line__heading {
    font-size: 64px;
  }

  .product-line__heading-1 {
    display: block;
    margin-left: 368px;
  }

  .product-line__heading .product-line__heading-2 {
    margin-left: 152px;
  }

  .product-line__heading-2::after {
    width: 66px;
    height: 44px;
    margin-left: 12px;
  }

  .product-line__heading-2::before {
    top: 15px;
    left: 820px;
    width: 62px;
    height: 44px;
  }

  .product-line__heading-4 {
    margin-left: 368px;
    display: block;
  }

  .product-line__heading-5 {
    display: block;
    margin-left: 368px;
  }

  .product-line__list {
    gap: 12px;
    margin-top: -45px;
  }

  .product-card-1__name {
    font-size: 15px;
    max-width: unset;
    max-height: unset;
    margin-bottom: 7px;
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }

  .product-card-1__info {
    bottom: 25px;
    right: 25px;
    padding: 10px 8px 8px 12px;
    border-radius: 25px;
    width: 197px;
    height: 123px;
  }

  .product-card-1__actions {
    flex-direction: row;
    gap: 10px;
  }

  .product-card-1__icon-1 {
    width: 20px;
    height: 20px;
  }

  .product-card-1__icon-2 {
    width: 30px;
    height: 30px;
  }

  .product-card__price--current {
    font-size: 26px;
    line-height: 1;
  }

  .product-card__price--current-currency {
    font-size: 18px;
  }

  .product-card-side-group {
    padding-top: 104px;
    gap: 12px;
  }

  .product-card-2,
  .product-card-3 {
    gap: 28px;
    border-radius: 20px;
  }

  .product-card__image__wrapper {
    border-radius: 20px;
  }

  .product-card-2__info,
  .product-card-3__info {
    flex: 1 1 50%;
    padding: 25px 16px 12px 0;
    display: flex;
    flex-direction: column;
  }

  .product-card-2__name,
  .product-card-3__name {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .product-card__description {
    font-size: 15px;
    word-break: normal;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    height: 80px;
  }

  .product-card-1__prices-wrapper {
    margin-top: auto;
    align-items: center;
  }

  .product-card__prices {
    gap: 12px;
  }

  .product-card__price--old {
    font-size: 15px;
  }

  .product-card__icon-1 {
    width: 26px;
    height: 26px;
  }

  .product-card__icon-2 {
    width: 32px;
    height: 32px;
  }

  .product-line__paw-1,
  .product-line__paw-2,
  .product-line__paw-3 {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (min-width: 1440px) {
  .product-line__heading-1 {
    margin-left: 432px;
  }

  .product-line__heading-4 {
    margin-left: 432px;
  }

  .product-line__heading-5 {
    margin-left: 432px;
  }

  .product-card-side-group {
    padding-top: 126px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .product-card-1,
  .product-card-2,
  .product-card-3 {
    transition: scale 250ms ease;
  }

  .product-card-1:hover,
  .product-card-2:hover,
  .product-card-3:hover {
    scale: 1.01;
  }

  .product-card__button:hover > svg {
    fill: var(--primary-color);
  }

  .product-card__button:hover > svg path {
    stroke: #fff;
  }
}
