.why-we {
  position: relative;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 50px;
}

.why-we__container {
  position: relative;
}

.why-we__marker {
  margin-bottom: 20px;
}

.why-we__title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 105%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 18px;
}

.why-we__title-part-1 {
  display: block;
  margin-left: 50px;
}

.why-we__title-part-2 {
  color: var(--primary-color);
}

.why-we__title-dot {
  width: 27px;
  height: 18px;
}

.why-we__description {
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 20px;
  max-width: 290px;
}

.why-we__benefit-1 {
  position: relative;
  border: 1px solid #5b6153;
  border-radius: 17px;
  width: 188px;
  height: 125px;
  box-shadow: 0 0 5px rgba(21, 21, 19, 0.07);
  background: #fff0ec;
  padding: 16px;
  margin-bottom: 10px;
  overflow: hidden;
}

.why-we__benefit-number {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 68px;
  line-height: 0.7;
  letter-spacing: -0.03em;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.why-we__benefit-text {
  font-size: 16px;
}

.why-we__benefit-1__icon {
  width: 54px;
  height: 49px;
  position: absolute;
  bottom: 2px;
  right: 5px;
}

.why-we__benefit__index {
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: var(--primary-color);

  position: absolute;
  top: 20px;
  right: 20px;
}

.why-we__benefit__index::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-left: 7px;
}

.why-we__benefit-2 {
  position: relative;
  border: 1px solid #5b6153;
  border-radius: 17px;
  width: 188px;
  height: 150px;
  box-shadow: 0 0 5px rgba(21, 21, 19, 0.07);
  background: #edfdeb;
  padding: 30px 16px 16px 16px;
  margin-bottom: 10px;
  overflow: hidden;
}

.why-we__benefit-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 23px;
  line-height: 96%;
  letter-spacing: -0.05em;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.why-we__benefit-subtitle {
  font-size: 16px;
  max-width: 85%;
}

.why-we__benefit-subtitle.why-we__benefit-subtitle--pos {
  margin-left: auto;
}

.why-we__benefit-2__icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 75px;
  height: 75px;
}

.why-we__benefit-3 {
  position: relative;
  z-index: 2;
  padding: 36px 16px 16px 16px;

  border: 1px solid #5b6153;
  border-radius: 17px;
  width: 188px;
  height: 150px;
  box-shadow: 0 0 5px rgba(21, 21, 19, 0.07);
  background: #ffc;
  text-align: end;
  margin-left: auto;
  margin-bottom: 10px;
}

.why-we__benefit-3__icon {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 75px;
  height: 75px;
}

.why-we__benefit-3__claws {
  width: 140px;
  position: absolute;
  top: -1px;
  right: 0;
}

.why-we__benefit__index-left {
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: var(--primary-color);
  position: absolute;
  left: 20px;
  top: 20px;
}

.why-we__benefit__index-left::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 7px;
}

.why-we__benefit-4 {
  position: relative;
  border: 1px solid #5b6153;
  border-radius: 17px;
  width: 189px;
  height: 161px;
  overflow: hidden;

  box-shadow: 0 0 5px rgba(21, 21, 19, 0.07);
  background: #e5fffd;
  text-align: end;
  margin-left: auto;
  padding: 16px 16px 16px 16px;
}

.why-we__benefit-4__icon {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
}

.why-we__benefits {
  position: relative;
}

.why-we__benefit-image-carrot {
  width: 280px;
  position: absolute;
  right: -112px;
  top: 130px;
  z-index: 1;
}

.why-we__benefit {
  position: relative;
  margin-top: -50px;
}

.why-we__benefit-image-caracal {
  width: 290px;
}

.why-we__benefit-image-note {
  position: absolute;
  top: 186px;
  left: 50px;
  width: 75px;
}

.why-we__benefit-caption-caracal {
  position: absolute;
  top: 205px;
  left: 40px;
  font-size: 14px;
  text-align: center;
  line-height: 100%;
  max-width: 80px;
}

.why-we__decor-1 {
  position: absolute;
  top: 50px;
  right: 80px;
  width: 39px;
  transform: rotate(-30deg);
}

.why-we__decor-2 {
  position: absolute;
  top: 300px;
  right: 30px;
  width: 39px;
  transform: rotate(40deg);
}

.why-we__decor-3 {
  position: absolute;
  bottom: 430px;
  left: 50px;
  width: 39px;
  transform: rotate(50deg);
}

@media only screen and (min-width: 768px) {
  .why-we {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .why-we__marker {
    margin-bottom: -40px;
  }

  .why-we__title {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .why-we__title-part-1 {
    display: block;
    margin-left: 156px;
  }

  .why-we__title-part-2 {
    color: var(--primary-color);
  }

  .why-we__title-dot {
    width: 50px;
    height: 33px;
  }

  .why-we__title-part-4 {
    margin-left: 156px;
  }

  .why-we__description {
    font-size: 20px;
    margin-bottom: 0;
    max-width: 360px;
    margin-left: 156px;
  }

  .why-we__benefit-1 {
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 0;
  }

  .why-we__benefit-2 {
    position: absolute;
    bottom: 30px;
    left: 0;
  }

  .why-we__benefit-3 {
    position: absolute;
    top: 30px;
    right: 10px;
  }

  .why-we__benefit-3__claws {
    width: 150px;
    position: absolute;
    top: -1px;
    right: 0;
  }

  .why-we__benefit-4 {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .why-we__benefit-image-carrot {
    width: 290px;
    right: -104px;
    top: -144px;
    z-index: 1;
  }

  .why-we__benefit {
    position: relative;
    margin-top: -60px;
    z-index: 1;
  }

  .why-we__benefit-image-caracal {
    width: 480px;
    margin: 0 auto;
  }

  .why-we__benefit-image-note {
    top: 310px;
    left: calc(50% - 130px);
    width: 98px;
  }

  .why-we__benefit-caption-caracal {
    top: 340px;
    left: calc(50% - 130px);

    line-height: 100%;
    max-width: 80px;
  }

  .category__link.why-we__catalog-link {
    width: 235px;
    margin: 0 auto;
  }

  .category__link-content.why-we__category__link-content {
    justify-content: flex-start;
  }

  .category__link-text.why-we__category__link-text {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .why-we {
    padding-bottom: 80px;
  }

  .why-we__title {
    font-size: 64px;
  }

  .why-we__title-part-1 {
    display: block;
    margin-left: 366px;
  }

  .why-we__title-part-2 {
    margin-left: 150px;
  }

  .why-we__title-dot {
    width: 66px;
    height: 44px;
  }

  .why-we__title-part-4 {
    margin-left: 366px;
  }

  .why-we__description {
    font-size: 28px;
    max-width: 520px;
    margin-left: 366px;
  }

  .why-we__benefit-1 {
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 80px;
    border-radius: 20px;
    padding: 35px 24px 16px 24px;

    width: 221px;
    height: 176px;
  }

  .why-we__benefit-number {
    font-size: 82px;
    line-height: 0.7;
    letter-spacing: -0.05em;
    margin-bottom: 15px;
  }

  .why-we__benefit-text {
    font-size: 20px;
  }

  .why-we__benefit-1__icon {
    width: 83px;
    height: 70px;
    bottom: 2px;
    right: 5px;
  }

  .why-we__benefit__index {
    font-size: 14px;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
  }

  .why-we__benefit-2 {
    position: absolute;
    bottom: 30px;
    left: 110px;
    border-radius: 20px;
    padding: 40px 24px 10px 24px;

    width: 221px;
    height: 176px;
  }

  .why-we__benefit-title {
    font-size: 28px;
    margin-bottom: 14px;
  }

  .why-we__benefit-subtitle {
    font-size: 20px;
    max-width: 85%;
  }

  .why-we__benefit-2__icon {
    bottom: 5px;
    right: 5px;
    width: 88px;
    height: 88px;
  }

  .why-we__benefit-3 {
    position: absolute;
    top: 70px;
    right: 80px;
    border-radius: 20px;

    width: 221px;
    height: 176px;
  }

  .why-we__benefit-3__icon {
    bottom: 5px;
    left: 5px;
    width: 80px;
    height: 80px;
  }

  .why-we__benefit-3__claws {
    width: 180px;
    position: absolute;
    top: -1px;
    right: 0;
  }

  .why-we__benefit__index-left {
    font-size: 14px;
    left: 16px;
    top: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .why-we__benefit-4 {
    position: absolute;
    bottom: 0;
    right: 115px;
    border-radius: 20px;

    width: 222px;
    height: 190px;
  }

  .why-we__benefit-4__icon {
    bottom: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
  }

  .why-we__benefit-image-carrot {
    width: 338px;
    right: -51px;
    top: -130px;
    z-index: 1;
  }

  .why-we__benefit {
    position: relative;
    margin-top: -60px;
    z-index: 1;
  }

  .why-we__benefit-image-caracal {
    width: 565px;
    margin: 0 auto;
  }

  .why-we__benefit-image-note {
    top: 380px;
    left: calc(50% - 130px);
    width: 98px;
  }

  .why-we__benefit-caption-caracal {
    top: 405px;
    left: calc(50% - 130px);
  }

  .category__link.why-we__catalog-link {
    width: 235px;
    margin: 0 auto;
  }

  .category__link-content.why-we__category__link-content {
    justify-content: flex-start;
  }

  .category__link-text.why-we__category__link-text {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .why-we__benefit-1 {
    left: 200px;
  }

  .why-we__benefit-2 {
    left: 230px;
  }

  .why-we__benefit-3 {
    right: 200px;
  }

  .why-we__benefit-image-carrot {
    right: 69px;
  }

  .why-we__benefit-4 {
    right: 235px;
  }

  .why-we__title-part-1 {
    margin-left: 400px;
  }

  .why-we__title-part-2 {
    margin-left: 200px;
  }

  .why-we__title-part-4 {
    margin-left: 400px;
  }

  .why-we__description {
    margin-left: 400px;
  }
}
