.category__link {
  display: block;
  opacity: 1;
}

.category__link-content {
  border: 1px solid #fff;
  border-radius: 50px;
  height: 44px;
  margin-bottom: 10px;

  box-shadow: 0 3px 8px rgba(3, 30, 9, 0.3);
  background: var(--primary-color);
  display: flex;
  align-items: center;
}

.category__link-icon {
  margin-left: 2px;
}

.category__link-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 49%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .category__link-content {
    justify-content: center;
    gap: 10px;
  }

  .category__link-text {
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .category__link-content {
    justify-content: center;
    height: 50px;
    gap: 10px;
  }

  .category__link-text {
    font-size: 21px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .category__link-content {
    transition: background-color 300ms ease;
  }

  .category__link-text {
    transition: color 300ms ease, transform 500ms ease;
  }

  .category__link-icon {
    transition: transform 800ms ease;
  }

  .category__link-content:hover {
    background-color: #fff;
  }

  .category__link-content:hover .category__link-icon {
    transform: translate(134px) rotate(360deg);
  }

  .category__link-content:hover .category__link-text {
    color: var(--primary-color);
    transform: translate(-40px);
  }
}
