.quick-btn-list {
  position: fixed;
  right: 4px;
  bottom: 100px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.quick-btn-list__item__btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 24px rgba(25, 48, 56, 0.2);
  background-color: rgba(246, 255, 248, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quick-btn-list__item__icon {
  width: 17px;
}

.quick-btn-list__item__btn::after,
.quick-btn-list__item__btn::before {
  content: '';
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  z-index: -1;
  animation-name: ripple;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
}

.quick-btn-list__item__btn::after {
  border: 4px solid rgb(38, 255, 239);
  animation-delay: 0s;
}

.quick-btn-list__item__btn::before {
  border: 4px solid #fc49ef;
  animation-delay: 0.5s;
}

.quick-btn-list__item__btn:hover::after,
.quick-btn-list__item__btn:hover::before {
  animation-play-state: paused;
}

@media only screen and (min-width: 1200px) {
  .quick-btn-list {
    right: 6px;
    bottom: 58px;
    gap: 20px;
  }

  .quick-btn-list__item__btn {
    width: 50px;
    height: 50px;
  }

  .quick-btn-list__item__icon {
    width: 25px;
  }

  .quick-btn-list__item__btn::after,
  .quick-btn-list__item__btn::before {
    height: 50px;
    width: 50px;
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}
