<section class="advise">
  <div class="advise__container container">
    <div class="advise__marker marker animate-up">
      <p class="marker__index" aria-hidden="true">07 /</p>
      <p class="marker__title">Ми радимо</p>
    </div>

    <h2 class="advise__title animate-up">
      <span class="advise__title-line-1">Товари,</span>
      <span class="advise__title-line-2">які люди</span>
      <span class="advise__title-line-3">завжди беруть</span>
      <span class="advise__title-line-4">своїм улюбленцям</span>
      <span class="advise__title-line-5">або додатково</span>
      <span class="advise__title-line-6">до водички</span>
    </h2>

    <div class="pagination advise-pagination">
      <p class="pagination-counter">
        <span class="pagination-text" data-advise-current-slide>01</span>
        <span class="pagination-total" data-advise-total-slide>/03</span>
      </p>

      <div class="pagination-controls">
        <button
          type="button"
          class="pagination-button pagination-button--left"
          aria-label="Попередня пропозиція"
          data-advise-nav-prev-btn
        >
          <svg
            class="pagination-icon"
            width="25"
            height="10"
            viewBox="0 0 25 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M24.1128 4.11807C24.4596 4.11807 24.7407 4.39919 24.7407 4.74597C24.7407 5.09275 24.4596 5.37388 24.1128 5.37388V4.11807ZM1.06418 5.18997C0.818964 4.94476 0.818964 4.54719 1.06418 4.30197L5.06015 0.306005C5.30536 0.0607922 5.70293 0.0607922 5.94814 0.306005C6.19335 0.551217 6.19335 0.948786 5.94814 1.194L2.39617 4.74597L5.94814 8.29795C6.19335 8.54316 6.19335 8.94073 5.94814 9.18594C5.70293 9.43115 5.30536 9.43115 5.06015 9.18594L1.06418 5.18997ZM24.1128 5.37388H1.50817V4.11807H24.1128V5.37388Z"
              fill="#A5BB7D"
            />
          </svg>
        </button>
        <button
          type="button"
          class="pagination-button pagination-button--right"
          aria-label="Наступна пропозиція"
          data-advise-nav-next-btn
        >
          <svg
            class="pagination-icon"
            width="25"
            height="10"
            viewBox="0 0 25 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M1.43823 4.11813C1.09145 4.11813 0.810326 4.39925 0.810326 4.74603C0.810326 5.09282 1.09145 5.37394 1.43823 5.37394V4.11813ZM24.4868 5.19003C24.7321 4.94482 24.7321 4.54725 24.4868 4.30204L20.4909 0.306066C20.2457 0.060853 19.8481 0.060853 19.6029 0.306066C19.3577 0.551279 19.3577 0.948847 19.6029 1.19406L23.1549 4.74603L19.6029 8.29801C19.3577 8.54322 19.3577 8.94079 19.6029 9.186C19.8481 9.43121 20.2457 9.43121 20.4909 9.186L24.4868 5.19003ZM1.43823 5.37394H24.0429V4.11813H1.43823V5.37394Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
    </div>

    <img
      class="advise__paw-1"
      src="img/svg/paw.svg"
      alt=""
      aria-hidden="true"
      loading="lazy"
    />
    <img
      class="advise__paw-2"
      src="img/svg/paw.svg"
      alt=""
      aria-hidden="true"
      loading="lazy"
    />
  </div>

  <div class="advise__products">
    <div class="advise__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="advise__product-first">
            <div class="advise__product-image">
              <img loading="lazy" src="img/advise/feed.webp" alt="Корм" />
            </div>
            <div class="advise__product__content">
              <h3 class="advise__product-title">Сухий корм</h3>
              <p class="advise__product-description">
                PRO PLAN®. Сухий повнораціонний корм для дорослих котів з
                чутливим травленням чи вибагливих до їжі, з індичкою
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advise__product-middle">
            <div class="advise__product-image">
              <img loading="lazy" src="img/advise/water.webp" alt="Вода" />
            </div>
            <div class="advise__product__content">
              <h3 class="advise__product-title">Optimum aqua з щілочю</h3>
              <p class="advise__product-description">
                Найкраща водичка з щiлочю для будь-яких тварин.
                Природньо-лiкувальна з додаванням бiодобавок
              </p>
              <div class="advise__product-price">
                <p class="advise__product-price-current">96<span>₴</span></p>
                <p class="advise__product-price-discount">-35%</p>

                <button
                  type="button"
                  class="advise__product-button advise__product-button--favourite"
                  aria-label="Додати до улюблених"
                >
                  <img
                    loading="lazy"
                    class="advise__product-icon-favourite"
                    src="img/svg/favourite.svg"
                    alt="Іконка серця"
                  />
                </button>
                <button
                  type="button"
                  class="advise__product-button advise__product-button--cart"
                  aria-label="Додати до кошика"
                >
                  <img
                    loading="lazy"
                    class="advise__product-icon-cart"
                    src="img/svg/card.svg"
                    alt="Іконка кошика"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advise__product-last">
            <div class="advise__product-image">
              <img loading="lazy" src="img/advise/bottle.webp" alt="Пляшка" />
            </div>
            <div class="advise__product__content">
              <h3 class="advise__product-title">Портативна пляшка поїлка</h3>
              <p class="advise__product-description">
                Дорожня миска для води та корму з контейнером, як усiх домашнiх
                тварин
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container advise__link-content">
    <a
      href="#"
      class="advise__link category__link"
      aria-label="Перейти до каталогу товарів"
    >
      <div class="category__link-content">
        <img
          loading="lazy"
          class="category__link-icon"
          src="img/svg/snake.svg"
          alt="Іконка змії"
        />
        <p class="category__link-text">До каталогу</p>
      </div>
    </a>
    <img
      loading="lazy"
      class="category__link-img"
      src="img/advise/cat.webp"
      alt="Кіт"
    />
  </div>
</section>
