<section class="category" aria-labelledby="category-title">
  <div class="category__container container">
    <div class="category__marker marker animate-up">
      <p class="marker__index">02 /</p>
      <p class="marker__title">Категорії товарів</p>
    </div>

    <h2 id="category-title" class="category__heading animate-up">
      <span class="category__heading-part-1">Zoowild</span>
      <span class="category__heading-part-2">має найбільший</span>
      <span class="category__heading-part-3">магазин</span>
    </h2>

    <p class="category__description animate-up">
      Якісних та сертифікованих товарів для будь-яких тварин та їх потреб
    </p>

    <div class="category__cards">
      <a class="category__card__link category__card-1 animate-left" href="#">
        <p class="category__card-info category__card-info-1-width">6 видів</p>
        <h3 class="category__card-title">Артезіанська очищена вода</h3>
        <p class="category__card-description">
          Для будь-яких тварин з корисними властивостями
        </p>
        <picture class="category__card-image">
          <source
            media="(min-width: 1200px)"
            srcset="img/category/bottle-water-desk.webp 1x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="img/category/bottle-water-tab.webp 1x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="img/category/bottle-water-tab.webp 1x"
            type="image/webp"
          />

          <img
            class="category__card-main-image"
            loading="lazy"
            src="img/category/bottle-water-desk.webp"
            alt="Бутилка води"
          />
        </picture>
        <svg
          class="category__card-arrow"
          width="30"
          height="29"
          viewBox="0 0 30 29"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="1.18975"
            y="0.60967"
            width="27.8827"
            height="27.3776"
            rx="13.6888"
            stroke="#A5BB7D"
            stroke-width="0.559185"
          />
          <path
            d="M10.6548 18.21C10.4988 18.366 10.4988 18.6189 10.6548 18.7749C10.8108 18.9308 11.0637 18.9308 11.2197 18.7749L10.6548 18.21ZM19.7245 10.1046C19.7245 9.88399 19.5457 9.70517 19.3251 9.70517L15.7303 9.70517C15.5098 9.70517 15.3309 9.88399 15.3309 10.1046C15.3309 10.3252 15.5098 10.504 15.7303 10.504H18.9257V13.6993C18.9257 13.9199 19.1045 14.0988 19.3251 14.0988C19.5457 14.0988 19.7245 13.9199 19.7245 13.6993L19.7245 10.1046ZM11.2197 18.7749L19.6075 10.387L19.0427 9.82215L10.6548 18.21L11.2197 18.7749Z"
            fill="#A5BB7D"
          />
        </svg>
      </a>

      <a class="category__card__link category__card-2 animate-right" href="#">
        <p class="category__card-info category__card-info-2-width">
          200+ видів
        </p>
        <h3 class="category__card-title-2">Для котів</h3>
        <img
          class="category__card-2-main-image"
          src="img/category/cart-cat.webp"
          alt="Кіт"
        />
        <img
          class="category__card-2-main-image-2"
          src="img/category/portion.webp"
          alt="Корм"
        />
        <svg
          class="category__card-arrow"
          width="30"
          height="29"
          viewBox="0 0 30 29"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="1.18975"
            y="0.60967"
            width="27.8827"
            height="27.3776"
            rx="13.6888"
            stroke="#A5BB7D"
            stroke-width="0.559185"
          />
          <path
            d="M10.6548 18.21C10.4988 18.366 10.4988 18.6189 10.6548 18.7749C10.8108 18.9308 11.0637 18.9308 11.2197 18.7749L10.6548 18.21ZM19.7245 10.1046C19.7245 9.88399 19.5457 9.70517 19.3251 9.70517L15.7303 9.70517C15.5098 9.70517 15.3309 9.88399 15.3309 10.1046C15.3309 10.3252 15.5098 10.504 15.7303 10.504H18.9257V13.6993C18.9257 13.9199 19.1045 14.0988 19.3251 14.0988C19.5457 14.0988 19.7245 13.9199 19.7245 13.6993L19.7245 10.1046ZM11.2197 18.7749L19.6075 10.387L19.0427 9.82215L10.6548 18.21L11.2197 18.7749Z"
            fill="#A5BB7D"
          />
        </svg>
      </a>

      <a class="category__card__link category__card-3 animate-right" href="#">
        <p class="category__card-info category__card-info-3-width">
          150+ видів
        </p>
        <h3 class="category__card-title-3">Для собак</h3>
        <img
          class="category__card-3-main-image"
          src="img/category/cart-dog.webp"
          alt="Собака"
        />
        <svg
          class="category__card-arrow"
          width="30"
          height="29"
          viewBox="0 0 30 29"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="1.18975"
            y="0.60967"
            width="27.8827"
            height="27.3776"
            rx="13.6888"
            stroke="#A5BB7D"
            stroke-width="0.559185"
          />
          <path
            d="M10.6548 18.21C10.4988 18.366 10.4988 18.6189 10.6548 18.7749C10.8108 18.9308 11.0637 18.9308 11.2197 18.7749L10.6548 18.21ZM19.7245 10.1046C19.7245 9.88399 19.5457 9.70517 19.3251 9.70517L15.7303 9.70517C15.5098 9.70517 15.3309 9.88399 15.3309 10.1046C15.3309 10.3252 15.5098 10.504 15.7303 10.504H18.9257V13.6993C18.9257 13.9199 19.1045 14.0988 19.3251 14.0988C19.5457 14.0988 19.7245 13.9199 19.7245 13.6993L19.7245 10.1046ZM11.2197 18.7749L19.6075 10.387L19.0427 9.82215L10.6548 18.21L11.2197 18.7749Z"
            fill="#A5BB7D"
          />
        </svg>
      </a>

      <a class="category__card__link category__card-4 animate-right" href="#">
        <p class="category__card-info category__card-info-4-width">
          260+ видів
        </p>
        <h3 class="category__card-title-4">Для всіх інших тварин</h3>
        <img
          class="category__card-4-main-image"
          src="img/hero/parrot-2.webp"
          alt="Папуга"
        />
        <img
          class="category__card-4-main-image-2"
          src="img/category/snake.webp"
          alt="Змія"
        />
        <svg
          class="category__card-arrow"
          width="30"
          height="29"
          viewBox="0 0 30 29"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="1.18975"
            y="0.60967"
            width="27.8827"
            height="27.3776"
            rx="13.6888"
            stroke="#A5BB7D"
            stroke-width="0.559185"
          />
          <path
            d="M10.6548 18.21C10.4988 18.366 10.4988 18.6189 10.6548 18.7749C10.8108 18.9308 11.0637 18.9308 11.2197 18.7749L10.6548 18.21ZM19.7245 10.1046C19.7245 9.88399 19.5457 9.70517 19.3251 9.70517L15.7303 9.70517C15.5098 9.70517 15.3309 9.88399 15.3309 10.1046C15.3309 10.3252 15.5098 10.504 15.7303 10.504H18.9257V13.6993C18.9257 13.9199 19.1045 14.0988 19.3251 14.0988C19.5457 14.0988 19.7245 13.9199 19.7245 13.6993L19.7245 10.1046ZM11.2197 18.7749L19.6075 10.387L19.0427 9.82215L10.6548 18.21L11.2197 18.7749Z"
            fill="#A5BB7D"
          />
        </svg>
      </a>
    </div>

    <a href="#" class="category__link" aria-label="Перейти до всіх розділів">
      <div class="category__link-content">
        <img
          class="category__link-icon"
          src="img/svg/snake.svg"
          alt="Іконка змії"
        />
        <p class="category__link-text">Усі розділи</p>
      </div>
    </a>

    <img
      class="category__decoration-1"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапа"
      aria-hidden="true"
    />
    <img
      class="category__decoration-2"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапа"
      aria-hidden="true"
    />
    <img
      class="category__decoration-3"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапа"
      aria-hidden="true"
    />
  </div>
</section>
