<section class="category">
  <div class="container">
    <div class="marker more-about__marker">
      <p class="marker__index">02 /</p>
      <p class="marker__title">Категорії товарів</p>
    </div>
  </div>

  <h2><span>Zoowild</span><span>має найбільший</span><span>магазин</span></h2>

  <p>Якісних та сертифікованих товарів для будь-яких тварин та їх потреб</p>

  <div>
    <div></div>

    <a href="#">
      <div>
        <img src="" alt="іконка змії" />
        <p>Усі розділи</p>
      </div>
    </a>
  </div>
</section>
