<section class="offers" aria-labelledby="offers-title" role="region">
  <div class="offers__container container">
    <div class="offers__marker marker">
      <p class="marker__index">05 /</p>
      <p class="marker__title">Дуже вигідні пропозиції</p>
    </div>

    <h2 id="offers-title" class="offers__title">
      <span class="offers__title-part-1">Спеціальні пропозиції</span>
      <span class="offers__title-part-2">та якісні товари</span>
      <span class="offers__title-part-3">для ваших</span>
      <span class="offers__title-part-4">пітомців з вигідними</span>
    </h2>

    <p class="offers__subtitle">
      Пропозицiями від кормів до іграшок та аксесуарів
    </p>

    <div class="offers__pagination">
      <p class="offers__pagination__counter">
        <span class="offers__pagination-text"> 01</span>
        <span class="offers__pagination-total">/03</span>
      </p>

      <div class="offers__pagination-controls">
        <button
          type="button"
          class="offers__pagination-button offers__pagination-button--left"
          aria-label="Попередня пропозиція"
        >
          <svg
            width="25"
            height="10"
            viewBox="0 0 25 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M24.1128 4.11807C24.4596 4.11807 24.7407 4.39919 24.7407 4.74597C24.7407 5.09275 24.4596 5.37388 24.1128 5.37388V4.11807ZM1.06418 5.18997C0.818964 4.94476 0.818964 4.54719 1.06418 4.30197L5.06015 0.306005C5.30536 0.0607922 5.70293 0.0607922 5.94814 0.306005C6.19335 0.551217 6.19335 0.948786 5.94814 1.194L2.39617 4.74597L5.94814 8.29795C6.19335 8.54316 6.19335 8.94073 5.94814 9.18594C5.70293 9.43115 5.30536 9.43115 5.06015 9.18594L1.06418 5.18997ZM24.1128 5.37388H1.50817V4.11807H24.1128V5.37388Z"
              fill="#A5BB7D"
            />
          </svg>
        </button>
        <button
          type="button"
          class="offers__pagination-button offers__pagination-button--right"
          aria-label="Наступна пропозиція"
        >
          <svg
            width="25"
            height="10"
            viewBox="0 0 25 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M1.43823 4.11813C1.09145 4.11813 0.810326 4.39925 0.810326 4.74603C0.810326 5.09282 1.09145 5.37394 1.43823 5.37394V4.11813ZM24.4868 5.19003C24.7321 4.94482 24.7321 4.54725 24.4868 4.30204L20.4909 0.306066C20.2457 0.060853 19.8481 0.060853 19.6029 0.306066C19.3577 0.551279 19.3577 0.948847 19.6029 1.19406L23.1549 4.74603L19.6029 8.29801C19.3577 8.54322 19.3577 8.94079 19.6029 9.186C19.8481 9.43121 20.2457 9.43121 20.4909 9.186L24.4868 5.19003ZM1.43823 5.37394H24.0429V4.11813H1.43823V5.37394Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="offers__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="offers__item">
            <div class="offers__item-image__wrapper">
              <h3 class="offers__item-title">Найкраще сіно для гризунів</h3>

              <img
                class="offers__item-image"
                loading="lazy"
                src="img/favorable-offers/hay.webp"
                alt="Картинка сіна"
              />

              <svg
                class="offers__item-icon"
                width="30"
                height="29"
                viewBox="0 0 30 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <rect
                  x="1.18975"
                  y="0.60967"
                  width="27.8827"
                  height="27.3776"
                  rx="13.6888"
                  stroke="#A5BB7D"
                  stroke-width="0.559185"
                />
                <path
                  d="M10.6548 18.21C10.4988 18.366 10.4988 18.6189 10.6548 18.7749C10.8108 18.9308 11.0637 18.9308 11.2197 18.7749L10.6548 18.21ZM19.7245 10.1046C19.7245 9.88399 19.5457 9.70517 19.3251 9.70517L15.7303 9.70517C15.5098 9.70517 15.3309 9.88399 15.3309 10.1046C15.3309 10.3252 15.5098 10.504 15.7303 10.504H18.9257V13.6993C18.9257 13.9199 19.1045 14.0988 19.3251 14.0988C19.5457 14.0988 19.7245 13.9199 19.7245 13.6993L19.7245 10.1046ZM11.2197 18.7749L19.6075 10.387L19.0427 9.82215L10.6548 18.21L11.2197 18.7749Z"
                  fill="#A5BB7D"
                />
              </svg>
            </div>

            <p class="offers__item-description">
              Найкраще сіно для ваших маленьких друзів! Натуральне, свіже і
              поживне — ідеальний вибір для здоров'я і гарного самопочуття
              гризунів. Забезпечте свого улюбленця збалансованим харчуванням
              кожного дня!
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="offers__item">
            <div class="offers__item-image__wrapper">
              <h3 class="offers__item-title">Найкраще сіно для гризунів</h3>

              <img
                class="offers__item-image"
                loading="lazy"
                src="img/favorable-offers/hay.webp"
                alt="Картинка сіна"
              />

              <svg
                class="offers__item-icon"
                width="30"
                height="29"
                viewBox="0 0 30 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <rect
                  x="1.18975"
                  y="0.60967"
                  width="27.8827"
                  height="27.3776"
                  rx="13.6888"
                  stroke="#A5BB7D"
                  stroke-width="0.559185"
                />
                <path
                  d="M10.6548 18.21C10.4988 18.366 10.4988 18.6189 10.6548 18.7749C10.8108 18.9308 11.0637 18.9308 11.2197 18.7749L10.6548 18.21ZM19.7245 10.1046C19.7245 9.88399 19.5457 9.70517 19.3251 9.70517L15.7303 9.70517C15.5098 9.70517 15.3309 9.88399 15.3309 10.1046C15.3309 10.3252 15.5098 10.504 15.7303 10.504H18.9257V13.6993C18.9257 13.9199 19.1045 14.0988 19.3251 14.0988C19.5457 14.0988 19.7245 13.9199 19.7245 13.6993L19.7245 10.1046ZM11.2197 18.7749L19.6075 10.387L19.0427 9.82215L10.6548 18.21L11.2197 18.7749Z"
                  fill="#A5BB7D"
                />
              </svg>
            </div>

            <p class="offers__item-description">
              Найкраще сіно для ваших маленьких друзів! Натуральне, свіже і
              поживне — ідеальний вибір для здоров'я і гарного самопочуття
              гризунів. Забезпечте свого улюбленця збалансованим харчуванням
              кожного дня!
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="offers__item">
            <div class="offers__item-image__wrapper">
              <h3 class="offers__item-title">Найкраще сіно для гризунів</h3>

              <img
                class="offers__item-image"
                loading="lazy"
                src="img/favorable-offers/hay.webp"
                alt="Картинка сіна"
              />

              <svg
                class="offers__item-icon"
                width="30"
                height="29"
                viewBox="0 0 30 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <rect
                  x="1.18975"
                  y="0.60967"
                  width="27.8827"
                  height="27.3776"
                  rx="13.6888"
                  stroke="#A5BB7D"
                  stroke-width="0.559185"
                />
                <path
                  d="M10.6548 18.21C10.4988 18.366 10.4988 18.6189 10.6548 18.7749C10.8108 18.9308 11.0637 18.9308 11.2197 18.7749L10.6548 18.21ZM19.7245 10.1046C19.7245 9.88399 19.5457 9.70517 19.3251 9.70517L15.7303 9.70517C15.5098 9.70517 15.3309 9.88399 15.3309 10.1046C15.3309 10.3252 15.5098 10.504 15.7303 10.504H18.9257V13.6993C18.9257 13.9199 19.1045 14.0988 19.3251 14.0988C19.5457 14.0988 19.7245 13.9199 19.7245 13.6993L19.7245 10.1046ZM11.2197 18.7749L19.6075 10.387L19.0427 9.82215L10.6548 18.21L11.2197 18.7749Z"
                  fill="#A5BB7D"
                />
              </svg>
            </div>

            <p class="offers__item-description">
              Найкраще сіно для ваших маленьких друзів! Натуральне, свіже і
              поживне — ідеальний вибір для здоров'я і гарного самопочуття
              гризунів. Забезпечте свого улюбленця збалансованим харчуванням
              кожного дня!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="offers__item-link">
      <a href="#" class="offers__item-link-anchor">
        <p class="offers__item-link-text">Більше акцій</p>
        <svg
          class="offers__item-link-icon"
          width="26"
          height="26"
          viewBox="0 0 26 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <rect
            x="0.75"
            y="0.75"
            width="24.5"
            height="24.5"
            rx="12.25"
            stroke="#A5BB7D"
            stroke-width="1.5"
          />
          <path
            d="M8.13666 16.8027C7.84377 17.0956 7.84377 17.5704 8.13666 17.8633C8.42956 18.1562 8.90443 18.1562 9.19732 17.8633L8.13666 16.8027ZM18.0837 8.66634C18.0837 8.25213 17.7479 7.91634 17.3337 7.91634L10.5837 7.91634C10.1694 7.91634 9.83366 8.25213 9.83366 8.66634C9.83366 9.08056 10.1694 9.41634 10.5837 9.41634L16.5837 9.41634L16.5837 15.4163C16.5837 15.8306 16.9194 16.1663 17.3337 16.1663C17.7479 16.1663 18.0837 15.8306 18.0837 15.4163L18.0837 8.66634ZM9.19732 17.8633L18.3637 8.69698L17.303 7.63632L8.13666 16.8027L9.19732 17.8633Z"
            fill="#A5BB7D"
          />
        </svg>
      </a>
    </div>

    <img
      class="offers__paw-1"
      src="img/svg/paw.svg"
      alt=""
      aria-hidden="true"
      loading="lazy"
    />
    <img
      class="offers__paw-2"
      src="img/svg/paw.svg"
      alt=""
      aria-hidden="true"
      loading="lazy"
    />
  </div>
</section>
