<section class="hero">
  <div class="hero__container container">
    <a
      href="#"
      class="hero__link hero__link--video"
      aria-label="Дивитись відео про наш магазин"
    >
      <img class="hero__icon hero__icon--video" src="" alt="Іконка" />
      <p class="hero__text hero__text--video">Дивитись вiдео про наш магазин</p>
    </a>

    <h1 class="hero__title">Найкращi товари для будь-яких тварин</h1>
    <p class="hero__description">
      Все, що потрібно для щастя вашого улюбленця – від корму, пiгулок до
      іграшок та будь-чого
    </p>

    <a
      href="#"
      class="hero__link hero__link--catalog"
      aria-label="Перейти до каталогу"
    >
      <img class="hero__icon hero__icon--catalog" src="" alt="Іконка" />
      <p class="hero__text hero__text--catalog">До каталогу</p>
    </a>
  </div>

  <img class="hero__image hero__image--caracal" src="" alt="Каракал" />
  <img class="hero__image hero__image--snake" src="" alt="Змія" />
  <img class="hero__image hero__image--parrot" src="" alt="Папуга" />
  <img
    class="hero__image hero__image--parrot hero__image--parrot-secondary"
    src=""
    alt="Папуга"
  />
  <img class="hero__image hero__image--leaf" src="" alt="Листок" />
</section>
