<section class="hero">
  <div class="container hero__container">
    <div class="hero__title-wrapper">
      <button
        type="button"
        class="hero__video-btn"
        aria-label="Дивитись відео про наш магазин"
        data-open-video-modal
      >
        <img
          class="hero__video-btn__icon"
          src="img/svg/play.svg"
          alt="Іконка"
        />
        <p class="hero__video-btn__text">Дивитись вiдео про наш магазин</p>
      </button>

      <h1 class="hero__title">Найкращi товари для будь-яких тварин</h1>
    </div>

    <p class="hero__description">
      Все, що потрібно для щастя вашого улюбленця – від корму, пiгулок до
      іграшок та будь-чого
    </p>

    <a href="#" class="hero__button" aria-label="Перейти до каталогу">
      <img
        class="hero__button__icon--catalog"
        src="img/svg/snake.svg"
        alt="Іконка"
      />
      <p class="hero__button__text--catalog">До каталогу</p>
    </a>

    <img class="hero__image-parrot" src="img/hero/parrot-1.webp" alt="Папуга" />
    <img
      class="hero__image-parrot-secondary"
      src="img/hero/parrot-2.webp"
      alt="Папуга"
    />
  </div>

  <img class="hero__image-snake" src="img/hero/snake.webp" alt="Змія" />
  <img class="hero__image-caracal" src="img/hero/carakal.webp" alt="Каракал" />

  <img class="hero__image--leaf" src="img/hero/leaf.webp" alt="Листок" />
</section>
