<section class="more-about">
  <div class="more-about__container container">
    <div class="marker more-about__marker">
      <p class="marker__index">01 /</p>
      <p class="marker__title">Більше про магазин</p>
    </div>

    <h2 class="visually-hidden">
      Ветаптека zoowild — єдиний магазин у країні, де ви знайдете відділ
      рецептурних препаратів для ветеринарної аптеки як для роздрібної, так і
      для оптової торгівлі для будь-якої тварини
    </h2>

    <div class="more-about__content">
      <div class="more-about__text__wrapper">
        <p class="more-about__text more-about__text--position">Ветаптека</p>
        <img
          class="more-about__logo"
          loading="lazy"
          src="img/logo.webp"
          alt="логотип"
          aria-hidden="true"
        />
      </div>

      <p class="more-about__text more-about__text--color">— єдиний магазин</p>
      <p class="more-about__text more-about__text--position-last">
        у країні, де ви знайдете
      </p>
    </div>

    <p class="more-about__description">
      відділ рецептурних препаратів для ветеринарної аптеки як для роздрібної,
      так і для оптової торгівлі для будь-якої тварини
    </p>

    <picture class="more-about__picture">
      <source
        media="(min-width: 1200px)"
        srcset="img/more-about/parrots-desk.webp 1x"
        type="image/webp"
      />

      <source
        media="(min-width: 768px)"
        srcset="img/more-about/parrots-tab.webp 1x"
        type="image/webp"
      />

      <source
        media="(max-width: 767px)"
        srcset="img/more-about/parrots-mob.webp 1x"
        type="image/webp"
      />

      <img
        class="more-about__picture_img"
        loading="lazy"
        src="img/more-about/parrots-desk.webp"
        alt="Попугаї"
      />
    </picture>

    <div class="more-about__details-wrapper">
      <div class="more-about__details">
        <h3 class="more-about__details-title">
          Ветеринарна аптека з ліцензією
        </h3>

        <p class="more-about__details-text">
          Зоомагазин має широкий асортимент зоотоварів, амуніції, та супутніх
          товарів для будь-якої тварини та потреби.
        </p>
        <p class="more-about__details-text">
          В магазині є більш
          <span class="more-about__details-highlight">100000+</span> товарів, і
          ми є
          <span class="more-about__details-highlight-2"
            >виробником сучасних ліків</span
          >
          та кормів.
        </p>
      </div>

      <div class="more-about__company">
        <p class="more-about__company-text">
          Найкращі сучасні, оригінальні ветпрепарати із сертифікатами якості
        </p>
        <button
          type="button"
          class="more-about__company-btn"
          aria-label="Дізнатися більше про компанію"
        >
          <p class="more-about__company-btn-text">Більше про компанію</p>
          <svg
            class="more-about__company-btn-icon"
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.75"
              y="0.75"
              width="24.5"
              height="24.5"
              rx="12.25"
              stroke="#A5BB7D"
              stroke-width="1.5"
            />
            <path
              d="M8.13666 16.8027C7.84377 17.0956 7.84377 17.5704 8.13666 17.8633C8.42956 18.1562 8.90443 18.1562 9.19732 17.8633L8.13666 16.8027ZM18.0837 8.66634C18.0837 8.25213 17.7479 7.91634 17.3337 7.91634L10.5837 7.91634C10.1694 7.91634 9.83366 8.25213 9.83366 8.66634C9.83366 9.08056 10.1694 9.41634 10.5837 9.41634H16.5837V15.4163C16.5837 15.8306 16.9194 16.1663 17.3337 16.1663C17.7479 16.1663 18.0837 15.8306 18.0837 15.4163L18.0837 8.66634ZM9.19732 17.8633L17.864 9.19667L16.8033 8.13601L8.13666 16.8027L9.19732 17.8633Z"
              fill="#A5BB7D"
            />
          </svg>
        </button>
      </div>
    </div>

    <img
      class="more-about__paw-1"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапка"
      aria-hidden="true"
    />
    <img
      class="more-about__paw-2"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапка"
      aria-hidden="true"
    />
    <img
      class="more-about__paw-3"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапка"
      aria-hidden="true"
    />
    <img
      class="more-about__paw-4"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапка"
      aria-hidden="true"
    />
    <img
      class="more-about__paw-5"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапка"
      aria-hidden="true"
    />
    <img
      class="more-about__paw-6"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапка"
      aria-hidden="true"
    />
  </div>

  <section class="more-about__clinic">
    <div class="more-about__clinic-container container">
      <img
        class="more-about__clinic-logo"
        loading="lazy"
        src="img/logo_2.webp"
        alt="Лого клініки"
        width="80"
        height="70"
      />
      <h3 class="more-about__clinic-title">
        <span class="more-about__clinic-title-top">Також у нас</span>
        <span class="more-about__clinic-title__accent"
          >є ветеринарна клініка,</span
        >
        <span class="more-about__clinic-title-bottom">яка увійшла у</span>
      </h3>

      <div class="more-about__clinic-top">
        <p class="more-about__clinic-top-number">Топ 5</p>
        <p class="more-about__clinic-top-text">клінік країни</p>
      </div>

      <p class="more-about__clinic-description">
        Ми пропонуємо широкий спектр послуг для забезпечення здоров'я та
        добробуту вашого улюбленця
      </p>

      <button
        type="button"
        class="more-about__clinic-button"
        aria-label="Відвідати клініку"
      >
        <img
          class="more-about__clinic-button-icon"
          loading="lazy"
          src="img/svg/snake.svg"
          alt="Лого змії"
          width="39"
          height="39"
        />
        <p class="more-about__clinic-button-text">Відвідати клініку</p>
        <img
          class="more-about__clinic-button-img"
          loading="lazy"
          src="img/more-about/small-dog.webp"
          alt="Песик"
          width="44"
          height="69"
        />
      </button>

      <img
        class="more-about__clinic-paw-1"
        loading="lazy"
        src="img/svg/paw.svg"
        alt="Лапка"
        aria-hidden="true"
      />
      <img
        class="more-about__clinic-paw-2"
        loading="lazy"
        src="img/svg/paw.svg"
        alt="Лапка"
        aria-hidden="true"
      />
      <img
        class="more-about__clinic-paw-3"
        loading="lazy"
        src="img/svg/paw.svg"
        alt="Лапка"
        aria-hidden="true"
      />

      <picture class="more-about__clinic-image-picture">
        <source
          media="(min-width: 1200px)"
          srcset="img/more-about/dog-desk.webp 1x"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="img/more-about/dog-tab.webp 1x"
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="img/more-about/dog-mob.webp 1x"
          type="image/webp"
        />
        <img
          class="more-about__clinic-image-1"
          loading="lazy"
          src="img/more-about/dog-desk.webp"
          alt="Собака"
        />
      </picture>

      <img
        class="more-about__clinic-image-2-desk"
        loading="lazy"
        src="img/more-about/carakal-more-desk.webp"
        alt="Каракал"
      />
      <img
        class="more-about__clinic-image-2-mob"
        loading="lazy"
        src="img/more-about/carakal-more-mob.webp"
        alt="Каракал"
      />
    </div>
  </section>
</section>
