<section class="partners">
  <div class="partners__container container">
    <div class="partners__marker marker">
      <p class="marker__index">08 /</p>
      <p class="marker__title">Партнери та бренди</p>
    </div>

    <h2 class="partners__title">
      <span class="partners__first-word">Ми</span> співпрацюємо тільки
      <span class="partners__highlight">з надійними</span> постачальниками
    </h2>

    <p class="partners__description">
      Щоб ваші улюбленці були завжди у відмінному стані
    </p>

    <picture class="partners__image-wrapper">
      <source
        media="(min-width: 1200px)"
        srcset="img/partners/partners-desk.webp 1x"
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="img/partners/partners-tab.webp 1x"
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="img/partners/partners-mob.webp 1x"
        type="image/webp"
      />
      <img
        class="partners__image"
        loading="lazy"
        src="img/partners/partners-desk.webp"
        alt="Логотипи партнерів"
      />
    </picture>

    <div class="partners__decorations">
      <img
        class="partners__paw-1"
        loading="lazy"
        src="img/svg/paw.svg"
        alt=""
        aria-hidden="true"
      />
      <img
        class="partners__paw-2"
        loading="lazy"
        src="img/svg/paw.svg"
        alt=""
        aria-hidden="true"
      />
      <img
        class="partners__paw-3"
        loading="lazy"
        src="img/svg/paw.svg"
        alt=""
        aria-hidden="true"
      />
      <img
        class="partners__paw-4"
        loading="lazy"
        src="img/svg/paw.svg"
        alt=""
        aria-hidden="true"
      />
      <img
        class="partners__paw-5"
        loading="lazy"
        src="img/svg/paw.svg"
        alt=""
        aria-hidden="true"
      />
    </div>
  </div>
</section>
