<section class="product-line">
  <div class="product-line__container container">
    <div class="product-line__marker marker animate-up">
      <p class="marker__index" aria-hidden="true">03 /</p>
      <p class="marker__title">Товарна лінійка</p>
    </div>

    <h2 class="product-line__heading animate-up">
      <span class="product-line__heading-1">Обирайте</span>
      <span class="product-line__heading-2">якісні товари</span>
      <span class="product-line__heading-3">для ваших</span>
      <span class="product-line__heading-4">улюблених</span>
      <span class="product-line__heading-5">тваринок</span>
    </h2>

    <div class="product-line__list">
      <article class="product-card-1">
        <img
          class="product-card__image-1"
          src="img/product-line/img-1.webp"
          alt="Carnilove з качкою та фазаном для котів"
          loading="lazy"
        />
        <div class="product-card-1__info">
          <p class="product-card-1__name">
            Сухий корм Carnilove з качкою та фазаном для виведення шерсті для
            котів, 2кг
          </p>
          <div class="product-card-1__prices-wrapper">
            <div class="product-card__prices">
              <p class="product-card__price--current">
                770<span class="product-card__price--current-currency">₴</span>
              </p>
              <p class="product-card__price--old" aria-hidden="true">1280₴</p>
            </div>
            <div class="product-card-1__actions">
              <button
                type="button"
                class="product-card__button"
                aria-label="Додати до улюблених"
              >
                <img
                  loading="lazy"
                  class="product-card-1__icon-1"
                  src="img/svg/favourite.svg"
                  alt="Іконка серця"
                />
              </button>
              <button
                type="button"
                class="product-card__button"
                aria-label="Додати до кошика"
              >
                <img
                  loading="lazy"
                  class="product-card-1__icon-2"
                  src="img/svg/card.svg"
                  alt="Іконка кошика"
                />
              </button>
            </div>
          </div>
        </div>
      </article>

      <div class="product-card-side-group">
        <article class="product-card-2">
          <div class="product-card__image__wrapper">
            <img
              class="product-card__image-2"
              src="img/product-line/img-3.webp"
              alt="Подвійна керамічна миска для тварин"
              loading="lazy"
            />
          </div>

          <div class="product-card-2__info">
            <h3 class="product-card-2__name">
              Подвійна керамічна миска для котів/собак
            </h3>
            <p class="product-card__description">
              Дуже якiсна, гладка та екологiчна миска для домашнiх тварин iз
              керамiки
            </p>

            <div class="product-card-1__prices-wrapper">
              <div class="product-card__prices">
                <p class="product-card__price--current">
                  336<span class="product-card__price--current-currency"
                    >₴</span
                  >
                </p>
                <p class="product-card__price--old" aria-hidden="true">899₴</p>
              </div>
              <div class="product-card-2__actions">
                <button
                  type="button"
                  class="product-card__button"
                  aria-label="Додати до улюблених"
                >
                  <img
                    class="product-card__icon-1"
                    src="img/svg/favourite.svg"
                    alt="Іконка серця"
                  />
                </button>
                <button
                  type="button"
                  class="product-card__button"
                  aria-label="Додати до кошика"
                >
                  <img
                    class="product-card__icon-2"
                    src="img/svg/card.svg"
                    alt="Іконка кошика"
                  />
                </button>
              </div>
            </div>
          </div>
        </article>

        <article class="product-card-3">
          <div class="product-card__image__wrapper">
            <img
              class="product-card__image-3"
              src="img/product-line/img-2.webp"
              alt="М’яка лежанка для тварин"
              loading="lazy"
            />
          </div>

          <div class="product-card-3__info">
            <h3 class="product-card-3__name">М’яка та висококласна лежанка</h3>
            <p class="product-card__description">
              М’яка, гарна, та легка лежанка для домашнього улюблинця
            </p>

            <div class="product-card-1__prices-wrapper">
              <div class="product-card__prices">
                <p class="product-card__price--current">
                  890<span class="product-card__price--current-currency"
                    >₴</span
                  >
                </p>
                <p class="product-card__price--old" aria-hidden="true">1490₴</p>
              </div>
              <div class="product-card-3__actions">
                <button
                  type="button"
                  class="product-card__button"
                  aria-label="Додати до улюблених"
                >
                  <img
                    class="product-card__icon-1"
                    src="img/svg/favourite.svg"
                    alt="Іконка серця"
                  />
                </button>
                <button
                  type="button"
                  class="product-card__button"
                  aria-label="Додати до кошика"
                >
                  <img
                    class="product-card__icon-2"
                    src="img/svg/card.svg"
                    alt="Іконка кошика"
                  />
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

    <a href="" class="category__link" aria-label="Перейти до каталогу товарів">
      <div class="category__link-content">
        <img
          loading="lazy"
          class="category__link-icon"
          src="img/svg/snake.svg"
          alt="Іконка змії"
        />
        <p class="category__link-text">До каталогу</p>
      </div>
    </a>

    <div class="product-line__decor">
      <img
        class="product-line__paw-1"
        src="img/svg/paw.svg"
        alt="Лапа"
        aria-hidden="true"
        loading="lazy"
      />
      <img
        class="product-line__paw-2"
        src="img/svg/paw.svg"
        alt="Лапа"
        aria-hidden="true"
        loading="lazy"
      />
      <img
        class="product-line__paw-3"
        src="img/svg/paw.svg"
        alt="Лапа"
        aria-hidden="true"
        loading="lazy"
      />
    </div>
  </div>
</section>
