<section class="statistics" aria-labelledby="statistics-title">
  <div class="statistics__container container">
    <h2 class="statistics__title">Чому наш зоомагазин найкращий у країні?</h2>

    <ul class="statistics__list">
      <li class="statistics__item">
        <p class="statistics__number" data-target="16">0</p>
        <p class="statistics__description">Років на ринку</p>
      </li>
      <li class="statistics__item">
        <p class="statistics__number" data-target="14500">0</p>
        <p class="statistics__description">Товарів</p>
      </li>
      <li class="statistics__item">
        <p class="statistics__number" data-target="100">0</p>
        <p class="statistics__description">Якості та гарантії</p>
      </li>
      <li class="statistics__item">
        <p class="statistics__number" data-target="112300">0</p>
        <p class="statistics__description">Задоволених тварин та їх хазяїнів</p>
      </li>
    </ul>

    <button
      class="statistics__button"
      type="button"
      aria-label="Проконсультуватися"
    >
      <span class="statistics__button-text">Проконсультуватися</span>
      <svg
        class="statistics__button-icon"
        width="11"
        height="12"
        viewBox="0 0 11 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          d="M0.554024 10.5986C0.332348 10.8449 0.352315 11.2243 0.598621 11.446C0.844927 11.6677 1.2243 11.6477 1.44598 11.4014L0.554024 10.5986ZM10.5992 0.968465C10.5818 0.637552 10.2994 0.383413 9.96846 0.40083L4.57593 0.684647C4.24502 0.702064 3.99088 0.984441 4.00829 1.31535C4.02571 1.64627 4.30809 1.90041 4.639 1.88299L9.43236 1.63071L9.68465 6.42407C9.70206 6.75499 9.98444 7.00912 10.3154 6.99171C10.6463 6.97429 10.9004 6.69191 10.883 6.361L10.5992 0.968465ZM1.44598 11.4014L10.446 1.40138L9.55402 0.598622L0.554024 10.5986L1.44598 11.4014Z"
          fill="white"
        />
      </svg>
    </button>
  </div>

  <img class="statistics__paw-1" src="img/svg/paw.svg" alt="Лапка" />
  <img class="statistics__paw-2" src="img/svg/paw.svg" alt="Лапка" />
</section>
