<section class="whats-new">
  <div class="container whats-new__container">
    <div class="whats-new__marker marker animate-up">
      <p class="marker__index">06 /</p>
      <p class="marker__title">Що нового з’явилося?</p>
    </div>
    <h2 class="whats-new__title animate-up">
      <span class="whats-new__title-line-1">Найкраще рішення</span>
      <span class="whats-new__title-line-2">для ваших улюбленців</span>
      <span class="whats-new__title-line-3">- чиста та збагачена</span>
      <span class="whats-new__title-line-4">біодобавками вода</span>
    </h2>

    <p class="whats-new__description animate-up">
      Не лише втамовує спрагу, але й сприяє зміцненню організму та підтримці
      тонус
    </p>

    <div class="whats-new__product">
      <div class="whats-new__product-info">
        <h3 class="whats-new__product-title animate-up">Optimum Aqua (1л)</h3>
        <p class="whats-new__product-text animate-up">
          — Натуральне походження води з глибоких природних джерел гарантує
          максимальну користь і безпеку для вашого пухнастика
        </p>
        <button type="button" class="whats-new__product-button animate-up">
          <img
            loading="lazy"
            src="img/svg/arrow-btn-slight.svg"
            alt="Іконка"
            class="whats-new__product-icon"
          />
        </button>
      </div>

      <img
        loading="lazy"
        class="whats-new__image--bottle"
        src="img/whats-new/bottle.webp"
        alt="Бутилка води"
      />
      <img
        loading="lazy"
        class="whats-new__image--emblems"
        src="img/whats-new/emblems.webp"
        alt="Емблеми"
      />
      <img
        loading="lazy"
        class="whats-new__image--decor"
        src="img/whats-new/glamour.webp"
        alt="Краплі води декорація"
      />

      <div class="whats-new__additional price-label">
        <button type="button" class="price-label__icon__favourite-btn">
          <img
            class="price-label__icon"
            loading="lazy"
            src="img/svg/favourite.svg"
            alt="Іконка серця"
          />
        </button>

        <div class="price-label__info">
          <p class="price-label__info-title">
            129<span class="price-label__currency">₴</span>
          </p>
          <p class="price-label__info-text">-35%</p>
        </div>

        <div class="price-label__purchase">
          <button type="button" class="price-label__purchase-button">
            <img
              loading="lazy"
              class="price-label__purchase-icon"
              src="img/svg/snake.svg"
              alt="Іконка змії"
            />
            <p class="price-label__purchase-text">Придбати зараз</p>
          </button>
          <button type="button" class="price-label__cart-btn">
            <img
              class="price-label__cart-icon"
              loading="lazy"
              src="img/svg/card.svg"
              alt="Іконка кошика"
            />
          </button>
        </div>
      </div>
    </div>

    <img
      class="whats-new__paw-1"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапа"
      aria-hidden="true"
    />

    <img
      class="whats-new__paw-2"
      loading="lazy"
      src="img/svg/paw.svg"
      alt="Лапа"
      aria-hidden="true"
    />
  </div>
</section>
