<section class="why-we">
  <div class="container">
    <div class="why-we__marker marker">
      <p class="marker__index" aria-hidden="true">09 /</p>
      <p class="marker__title">Чому саме ми?</p>
    </div>

    <h2>
      <span>Обираючи нас,</span>
      <span>ви отримуєте</span>
      <svg
        class="why-we__title__dot"
        width="51"
        height="34"
        viewBox="0 0 51 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="25.4418" cy="25.0082" r="8.33635" fill="#A5BB7D" />
        <circle cx="42.1117" cy="25.0082" r="8.33635" fill="#A5BB7D" />
        <circle cx="8.76799" cy="25.0082" r="8.33635" fill="#A5BB7D" />
        <circle cx="25.4418" cy="8.33635" r="8.33635" fill="#A5BB7D" />
        <circle cx="42.1117" cy="8.33635" r="8.33635" fill="#A5BB7D" />
        <circle cx="8.76799" cy="8.33635" r="8.33635" fill="#A5BB7D" />
      </svg>

      <span>якісне</span>
      <span>обслуговування</span>
    </h2>

    <p>
      Перевірені товари та швидку доставку. Ми турбуємося про здоров'я ваших
      улюбленців так само, як і ви!
    </p>
  </div>
</section>
