<section class="why-we" role="region" aria-labelledby="why-we-title">
  <div class="why-we__container container">
    <div class="why-we__marker marker">
      <p class="marker__index" aria-hidden="true">09 /</p>
      <p class="marker__title">Чому саме ми?</p>
    </div>

    <h2 id="why-we-title" class="why-we__title">
      <span class="why-we__title-part-1">Обираючи нас,</span>
      <span class="why-we__title-part-2">ви отримуєте</span>
      <svg
        class="why-we__title-dot"
        width="51"
        height="34"
        viewBox="0 0 51 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <circle cx="25.4418" cy="25.0082" r="8.33635" fill="#A5BB7D" />
        <circle cx="42.1117" cy="25.0082" r="8.33635" fill="#A5BB7D" />
        <circle cx="8.76799" cy="25.0082" r="8.33635" fill="#A5BB7D" />
        <circle cx="25.4418" cy="8.33635" r="8.33635" fill="#A5BB7D" />
        <circle cx="42.1117" cy="8.33635" r="8.33635" fill="#A5BB7D" />
        <circle cx="8.76799" cy="8.33635" r="8.33635" fill="#A5BB7D" />
      </svg>
      <span class="why-we__title-part-3">якісне</span>
      <span class="why-we__title-part-4">обслуговування</span>
    </h2>

    <p class="why-we__description">
      Перевірені товари та швидку доставку. Ми турбуємося про здоров'я ваших
      улюбленців так само, як і ви!
    </p>

    <div class="why-we__benefits">
      <div class="why-we__benefit-1">
        <p class="why-we__benefit-number">16</p>
        <p class="why-we__benefit-text">Років на ринку ветеринарії</p>
        <p class="why-we__benefit__index">01</p>
        <img
          class="why-we__benefit-1__icon"
          loading="lazy"
          src="img/svg/hat.svg"
          alt="Іконка"
        />
      </div>

      <div class="why-we__benefit-2">
        <p class="why-we__benefit-title">Безкоштовна доставка</p>
        <p class="why-we__benefit-subtitle">На сумму від 1999грн</p>
        <p class="why-we__benefit__index">02</p>
        <img
          class="why-we__benefit-2__icon"
          loading="lazy"
          src="img/svg/delivery.svg"
          alt="Іконка"
        />
      </div>

      <div class="why-we__benefit-3">
        <p class="why-we__benefit-title">Широкий вибір препаратів</p>
        <p class="why-we__benefit-subtitle why-we__benefit-subtitle--pos">
          Для будь-якої тварини
        </p>
        <p class="why-we__benefit__index-left">03</p>
        <img
          class="why-we__benefit-3__claws"
          loading="lazy"
          src="img/why-we/parrot-claws.webp"
          alt="кігті"
        />
        <img
          class="why-we__benefit-3__icon"
          loading="lazy"
          src="img/svg/mark.svg"
          alt="Іконка"
        />
      </div>

      <div class="why-we__benefit-4">
        <p class="why-we__benefit-title">Якість та сертифіковані товари</p>
        <p class="why-we__benefit-subtitle why-we__benefit-subtitle--pos">
          Гарантія безпеки для вашого улюбленця
        </p>
        <p class="why-we__benefit__index-left">04</p>
        <img
          class="why-we__benefit-4__icon"
          loading="lazy"
          src="img/svg/certificate.svg"
          alt="Іконка"
        />
      </div>

      <div class="why-we__benefit">
        <img
          class="why-we__benefit-image"
          loading="lazy"
          src=""
          alt="Каракал"
        />
        <p class="why-we__benefit-caption-caracal">Брати будете?</p>
      </div>

      <img
        class="why-we__benefit-image-carrot"
        loading="lazy"
        src="img/why-we/carrot.webp"
        alt="Попугай"
      />
    </div>

    <a href="" class="why-we__link" aria-label="Перейти до каталогу товарів">
      <div class="why-we__link-content">
        <img
          loading="lazy"
          class="why-we__link-icon"
          src="img/svg/snake.svg"
          alt="Іконка змії"
        />
        <p class="why-we__link-text">До каталогу</p>
      </div>
    </a>
  </div>

  <img
    class="why-we__decor-1"
    src="img/svg/paw.svg"
    alt=""
    aria-hidden="true"
    loading="lazy"
  />
  <img
    class="why-we__decor-2"
    src="img/svg/paw.svg"
    alt=""
    aria-hidden="true"
    loading="lazy"
  />
  <img
    class="why-we__decor-3"
    src="img/svg/paw.svg"
    alt=""
    aria-hidden="true"
    loading="lazy"
  />
</section>
