:root {
  --primary-color: #a5bb7d;
  --secondary-color: #5b6153;
  --grand-color: #faffee;
  --indent-color: #ffffff;
}

@font-face {
  font-family: 'Gagalin';
  src: url('/fonts/Gagalin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: 'Gagalin', sans-serif; */
  font-family: 'Manrope', sans-serif;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
